.logo{
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 75px;
	margin-right: 50px;
	margin-left: 20px;
	
}

.navigation{
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 75px;
}
.nav-li{
	display: inline-block;
	margin-right: 26px;
	font-size: 22px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.active{
	color: red;
}
.inactive{
	color: green;
}
.banner-img{
	width: 1170px;
	height: 460px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 125px;
}

}
.left-block{
	width: 570;
	height: 225px;
	display: inline-block;
	background-color: black;
}
.right-block{
	
	width: 570px;
	height: 225px;
	margin-left: 29px;
	display: inline-block;
/*	background-color: red;*/
	
}
.container-blocks{
	width: 1170px;
	height: 400px;
	
	margin-left: auto;
	margin-right: auto;
}
.foot-div{
	width: 1px;
	height: 28px;
	background-color: #3d58a6;
	margin-left: 35px;
	margin-right: 30px;
	display: inline-block;
}
.pl{
	width: 356px;
	height: 143px;
}
.pr{
	width: 354px;
	height: 157px;
}
.ft{
	margin-left: 200px;
	margin-top: 68px;
}
.date{
	color: white;
	width: 56px;
	height: 56px;
	display: inline-block;
	background-color: #3d58a6;
	padding: 12px 13px 16px 10px;
	font-size: 37px;
	margin-bottom: 10px;
}
.sec1{
	margin-left: 15px;
}
.maisi{
	width: 57px;
	height: 17px;
	font-size: 22px;
	color: #3d58a6;
	margin-bottom: 30px;
}
.satauri{
	width: 672px;
	height: 22px;
	font-size: 20px;
	margin-bottom: 16px;

}
.text1{
	width: 930px;
	height: 360px;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
}
.img1{
	vertical-align: top;
}
.contact-container{
	width: 1366px;
	height: 570px;
	margin-left: auto;
	margin-right: auto;

}
.contact-block{
display: inline-block;
width: 238px;
height: 93px;
margin-left: 97px;
margin-right: 90px;
}
.map-block{
	vertical-align: top;
	display: inline-block;
}
.sp1{
	color: black;
}
.sp2{
	color: blue;
}
.sp3{
	color: yellow;
}

.sp0{
	font-size: 20px;
	color: red;
	margin-bottom: 30px;
}
.box{
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	background-color: lightgray;
	width: 500px;
	height: 400px;
    
}
.box1{
	display: inline-block;
	width: 100px;
	height: 50px;
	border-style: solid;
	border-color: green;
	border-width: 5px;
}
/*.par{
	width: 75px;
	height: 50px;
	display: inline-block;
}*/
.divider{
	width: 100px;
	height: 100px;
	background-color: lightblue;
	display: inline-block;
}.boxdiv{
	margin-left: 100px;
}
.boxdiv1{
	margin-left: 100px;
}
